# EditorConfig - see README.md#editorconfig for details
# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{js,ts,jsx,tsx,json,jsonc}]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Package files
[{package.json,*.lock}]
indent_style = space
indent_size = 2